<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      <ion-row>
        <ion-col size="4" class="header-logo">
          <ion-icon name="planet"></ion-icon>
        </ion-col>
        <ion-col size="2" class="header-info">Total<br>Títulos</ion-col>
        <ion-col size="2" class="header-value">{{ totalTitulos }}</ion-col>
        <ion-col size="2" class="header-info">Total<br>Volumes</ion-col>
        <ion-col size="2" class="header-value">{{ totalVolumes }}</ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-searchbar animated color="light" (ionChange)="filterList($event)"></ion-searchbar>

  <div *ngIf="filteredMangas == undefined || filteredMangas.length == 0" class="mensagem-vazia">
    <span class="mensagem-titulo">Em Andamento</span>
    <span class="mensagem-texto">Nenhum título em andamento!</span>
  </div>

  <ion-grid> 
    <ion-row class="content-list-row">
      <ion-col size="6" *ngFor = "let title of filteredMangas" class="card-col">

        <ion-card tappable (click)="abreConfirmacao(title)" (press)="abreEditar(title)">
          <div class="thumb-card" [ngStyle]="{'background-image': 'url(' + title.thumb + ')'}">
            <!-- <img src="{{title.thumb}}"> -->
          </div>
          
          <div class="card-title">{{title.lastIssue}}</div>
          <ion-card-title>
            <div class="title-card">
              {{title.title}}
            </div>
          </ion-card-title>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
